.img-wrapper {
    margin-top: 9%;
    width: 41%;
    display: block;
    height: 23vh;
    margin-left: 29%;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    object-fit: cover !important;
}

ion-button {
    color: #FFFFFF;
    align-items: center;
    padding-left: 7%;
    padding-right: 7%;
    height: 60px;
    outline-color: #FFFFFF;
}

.profile{
    color: rgba(0, 0, 0, 0.667);
    margin-left: 2%;
    margin-top: 3%;
    font-family: "ProximaNova-Regular";
    font-size: 1.5pc;
    align-items: center;
    display: flex;
}

.profile-primary{
    color: #8FA4AE;
    margin-left: 2%;
    font-family: "ProximaNova-Regular";
    font-size: 1.7pc;
    align-items: center;
    display: flex;
}