@font-face {
    font-family: 'HelveticaNeue';
    src: url('../assets/fonts/HelveticaNeue Light.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('../assets/fonts/Helvetica Neu Bold.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('../assets/fonts/Proxima-Nova-Semibold.ttf');
    font-weight: 200;
    font-style: normal;
}


@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../assets/fonts/ProximaNova-Regular.otf');
    font-weight: 200;
    font-style: normal;
}