#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content {
  --background: url('/assets/images/background.png');
}

ion-button {
  color: #FFFFFF;
  align-items: center;
  padding-left: 7%;
  padding-right: 7%;
  height: 60px;
  outline-color: #FFFFFF;
}

.welcome-text {
  padding-top: 40%;
  color: #FFFFFF;
  font-size: 2pc;
  font-family: 'HelveticaNeue';

  text-align: center !important;
}

.urgent-text {
  padding-top: 14%;
  color: #FFFFFF;
  font-size: 1pc;
  font-family: 'HelveticaNeueBold';
  text-align: center !important;
}

.info-text {
  padding-top: 10%;
  padding-left: 15%;
  padding-right: 15%;
  color: #FFFFFF;
  font-size: 1pc;
  font-family: 'HelveticaNeue';
  text-align: center !important;
}