<ion-content>
  <div class="welcome-text">
    Welcome
  </div>
  <div class="info-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </div>

  <ion-button shape="round" style="margin-top: 20%;" expand="full" color="light" [routerLink]="['/register']">Sign Up</ion-button>

  <ion-button shape="round" style="margin-top: 8%;" fill="outline" color="green" expand="full" [routerLink]="['/login']">Login</ion-button>

  <div button class="urgent-text" style=" margin-bottom: 10%;">
    URGENT
  </div>
</ion-content>

